* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Myriad-Pro-c;
    src: url(/fonts/MYRIADPRO-REGULAR.OTF);
}
body{
    /* background-image: url(/img/фон2.webp); */
    background-color: #1d1d1d;
    margin: 0;
    color: #fafafa;
    font-family: Myriad-Pro-c;
    overflow-x: hidden;
}
img {
    pointer-events: none;
    user-select: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: .97;
    display: flex;
    background-color:#363636;
    height: 8vh;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; 
}
.secondarynav {
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-item {
    /* margin-top: calc(1vh / 3.5); */
    margin-left: 4vw;
    width: max-content;
    gap:20px;
    /* padding: 8px; */
    padding-top: 2px;
    position: fixed;
    z-index: 101;
    max-width: 70px;
    max-height: 85px;
    /* max-width: calc(var(--index) * 1.75); */ 
    /* max-height: 15vh; */
    border-radius: 8px;
}
header a {
    color: #CACACA;
    font-size: 18px;
    outline: none;
    text-decoration: none;
}
header a:hover {
    color: #848484;
}

.main-container {
    padding: 0 350px;
    padding-bottom: 60px;
}

.menu__text {
    padding-top: 200px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.menu__text h1 {
    font-size: 64px;
}
.drinks__text {
    padding: 40px 150px 10px 150px;
    font-size: 26px;
}
.drinks {
    padding: 0 200px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.snacks {
    padding: 0 200px;
    padding-bottom: 5px;
}
.description__div {
    /* padding-left: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name__snacks {
    font-size: 34px;
}
.description__snacks {
    font-size: 22px;
}
.price__snacks {
    font-size: 22px;
}
.name__drink {
    font-size: 34px;
}
.description__drink {
    font-size: 22px;
}
.ml__drink {
    font-size: 18px;
}
.price__drink {
    font-size: 22px;
}

.footer {
    padding-top: 3px;
    display: flex;
    background-color:#242424;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
    border-top-right-radius: 8px;
    border-top-left-radius: 8px; 
}
footer p {
    color: #CACACA;
    font-size: calc(var(--index) * .4);
}
footer li {
    list-style-type: none;
}
.footer > .contactnumber, .contactaddress {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navfooter * {
    padding: 3px;
}
.navfooter p {
    font-size: calc(var(--index) * .35);
}
footer a {
    color: #CACACA;
    font-size: 18px;
    outline: none;
    text-decoration: none;
}
footer a:hover {
    color: #848484;
}